@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* color */
  --primary: #008439;
  --secondary: #005339;
  --neutral: #2D2D2D;
  --light-grey: #F2F2F2;
  --grey: #737373;
}

* {
  text-decoration: none;
}

html {
  @apply scroll-smooth;
}

body {
  /* @apply m-0 h-[800px] w-[360px] relative; */
}

/* input */
.input-group {
  @apply mx-4 my-4;
  display: flex;
  flex-direction: column;
}

.product-label {
  @apply text-[var(--neutral)] text-xs mb-1;
}

.product-input {
  @apply outline outline-1 outline-[var(--grey)] rounded py-1 px-3;
}

.input-group-uniq {
  @apply mx-4 my-6;
  display: flex;
  flex-direction: column;
}

.product-label-uniq {
  @apply text-[var(--secondary)] text-xs mb-1;
}

.product-input-uniq {
  @apply outline outline-1 outline-[var(--secondary)] shadow shadow-[var(--secondary)] rounded py-1 px-3 ;
}

.product-input:focus {
  @apply outline-[var(--secondary)];
}