@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* color */
  --primary: #00B14F;
  --secondary: #005339;
  --neutral: #2D2D2D;
  --grey: #F2F2F2;
}

* {
  text-decoration: none;
}

html {
  @apply scroll-smooth h-[800px];
}

body {
  @apply m-0;
}